// Colors
$primary-color: rgb(226, 0, 26);
$secondary-color: rgb(255, 187, 0);
$text-color: rgb(19, 23, 29);
$background-color: rgb(229, 229, 229);
$background-color-secondary: rgb(235, 243, 248);
$background-color-third: linear-gradient(180.00deg, rgb(235, 243, 248), rgba(235, 243, 248, 0) 100%);
$background-last:linear-gradient(180.00deg, rgb(235, 243, 248), rgba(235, 243, 248, 0) 100%);
$white: #fff;
$black: #000;
$discount-color: #ff5722;

// Typography
$font-primary: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$font-secondary: Arial, Helvetica, sans-serif;
$font-bebas: 'Bebas Neue', sans-serif;

// Sizes
$header-height: 80px;
$burger-icon-size: 30px;

// Breakpoints
$mobile: 720px;

// Transitions
$transition-default: 0.3s ease;
$text-color: rgb(19, 23, 29);
