// Colors
$primary-color: rgb(226, 0, 26);
$text-color: rgb(19, 23, 29);
$background-color: rgb(229, 229, 229);
$white: #fff;
$black: #000;
$discount-color: #ff5722;

// Typography
$font-primary: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$font-secondary: Arial, Helvetica, sans-serif;

// Sizes
$header-height: 80px;
$burger-icon-size: 30px;

// Breakpoints
$mobile: 720px;

// Transitions
$transition-default: 0.3s ease;
