.hero {
  display: flex;
  margin-top: 90px;
  position: relative;
  z-index: 1;
}
.heroHeading {
  color: rgb(19, 23, 29);
  font-family: "Bebas Neue", sans-serif;
  font-size: 70px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: -1%;
  text-align: left;
}
.hero-text {
  color: rgb(68, 68, 68);
  font-family: "Gilroy", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: -1%;
  text-align: left;
}
.hero-text-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 50%;
  
}
.hero-btn {
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -1%;
  text-align: left;
  border-radius: 15px;
  background: rgb(226, 0, 26);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 10;
  padding: 18px 30px 18px 30px;
  width: 300px;
}
.hero-img-conteiner img {
  width: 40rem;
}
@media (max-width: 720px) {
    .hero{
        flex-direction: column-reverse;
        width: 100%;
    }
    .hero-text-conteiner{
        width: 100%;
    }
    .hero-text{
        width: 100%;
    }
    .heroHeading{
        width: 100%;
    }
}