$discount-color: #ff5722; // Цвет скидки
$primary-color: rgb(226, 0, 26);
$text-color: rgb(19, 23, 29);
$font-bebas: 'Bebas Neue', sans-serif;

.subscribe {
  display: flex; // Используем flex для горизонтального расположения
  flex-direction: row; // Горизонтальное выравнивание
  align-items: center; // Центрируем элементы по вертикали
  border-radius: 20px; // Радиус скругления для углов
  padding: 10px; // Небольшие отступы от края для точного соответствия
  margin-top: 20px; // Отступ сверху для разделения с другими секциями
  overflow: hidden; // Предотвращаем появление скролла
  box-sizing: border-box; // Учитываем границы в общей ширине
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Добавляем тень для глубины
  border-radius: 10px; // Радиус скругления для конфетки
}

.subTextContent {
  flex: 1; // Позволяем тексту занимать доступное пространство
  position: relative; // Сохраняем относительное позиционирование
  z-index: 1; // Убедимся, что текст выше обводки
  color: $text-color; // Цвет текста
}

.big50 {
  font-size: 60px; // Увеличенный размер шрифта для "50%"
  font-weight: bold; // Жирный шрифт для акцента
  color: $discount-color; // Цвет текста - цвет скидки
}

.subForm {
  flex: 1; // Позволяем форме занимать доступное пространство
  margin-left: 20px; // Отступ слева для разделения с текстом
}

.subFormInput {
  width: 100%; // Полная ширина для полей ввода
  margin-bottom: 10px; // Отступ снизу для разделения
  border-radius: 10px; // Радиус скругления для полей ввода
  border: 1px solid rgb(172, 172, 172); // Обводка для полей ввода
  padding: 10px; // Отступы для полей ввода
}

.subFormBtn {
  width: 100%; // Полная ширина для кнопки
  background-color: $primary-color; // Цвет фона кнопки изменен на основной цвет
  color: white; // Цвет текста
  border: none; // Без обводки
  border-radius: 20px; // Скругленные углы
  cursor: pointer; // Курсор в виде указателя
  transition: background-color 0.3s, transform 0.2s; // Эффекты перехода

  &:hover {
    background-color: darken($primary-color, 10%); // Затемнение при наведении
    transform: scale(1.05); // Эффект увеличения при наведении
  }
}

// Медиазапросы для мобильных устройств
@media (max-width: $mobile) {
  .subscribe {
    flex-direction: column; // Вертикальное выравнивание на мобильных
    align-items: flex-start; // Выравнивание по левому краю
    padding: 10px; // Уменьшение отступов для мобильных
  }

  .subTextContent {
    text-align: center; // Центрируем текст
    margin-bottom: 20px; // Отступ снизу для разделения
  }

  .subForm {
    margin-left: 0; // Убираем отступ слева
    width: 100%; // Полная ширина для формы
  }
}

// Убедитесь, что у body нет лишних отступов
body {
  margin: 0; // Убираем отступы у body
  overflow-x: hidden; // Предотвращаем горизонтальный скролл
}