body {
  font-family: $font-primary;
  color: $text-color;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-secondary;
  font-weight: bold;
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
  color: inherit;
  transition: $transition-default;
}

p {
  margin-bottom: 1em;
} 